DATABASE_URL=postgresql+psycopg://username:password@host/database?sslmode=require
DISCORD_TOKEN=your_discord_bot_token
API_URL=http://127.0.0.1:8000
API_HOST=127.0.0.1
API_PORT=8000
PORT=8000
START_INTERNAL_API=true
ADMIN_USER_IDS=1431290082609987756
LUA_BIN=lua
TOP_RANK_ROLE_ID=1496423387801587894
TOP_RANK_ROLE_NAME=대단한놈
SECOND_RANK_ROLE_ID=1497844129848361100
SECOND_RANK_ROLE_NAME=아쉬운놈